/* Reset and base styles  */
body {
    min-height: 100vh;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #d7df67;
    line-height: 1.5;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
html {
    scroll-behavior: smooth; 
  }
*,
*:before,
*:after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Reset and base styles end */

/* Container start */
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Container start end */

/* header start */
.header {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    height: 85px;
    background-color: rgb(8, 24, 53);
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; */
}
.nav_list {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: end;
}
.nav_list-item {
    display: inline-block;
    margin-right: 30px;
}

.nav_link {
    font-family: 'Lato' , sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #fff;
    transition: .2s ease-in-out;
    /* border-bottom: 3px dashed;  */
    
}
.nav_link:hover {
    color:rgb(35, 186, 212);
    /* border-bottom: .07em solid; */
}
.nav_link:active {
    color: #a3f1e7; 
    border-bottom: 1px;
    transition: .1s ease-in-out;
}
/* header end */
